/*
Style: Minimal
*/
body { color: #777; }

#wrap, #page-image-cover { background-color: #fff; background-image: none; } 
#header,
#subheader,
#page-title,
#header-breadcrumbs { background: none; }
#header-breadcrumbs,
#page-title-inner,
.select-nav,
#blog-featured  { border-bottom: 1px solid #f2f2f2; }
.blog #page-title-inner,
.page-template-template-front-php #page-title-inner { border-top: 1px solid #f2f2f2; }
#subfooter { background: #eee; }

.entry-comments a.bubble span { background-image: url(minimal/entry-comments-span.png); }

/* remove box-shadows */
#header,
#subheader,
#subfooter,
#footer,
#footer-social li a,
.work-item,
#flex-front-3.flexslider,
#flex-blog.flexslider,
a.item-small span.featured-image { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/* blog featured */
a.item-small span.featured-title { color: #444; }
a.item-small span.featured-excerpt { color: #999; opacity: 1; }
.flexslider#flex-blog .flex-control-nav li a { background-position: -13px -0; }
.flexslider#flex-blog .flex-control-nav li a:hover { background-position: -13px -13px; }
.flexslider#flex-blog .flex-control-nav li a.active { background-position: -13px -26px; }

/* nav */
#nav li a { padding-bottom: 17px; }

/* shortcodes */
.toggle,
.accordion,
.accordion .title a,
ul.list li { border-color: #f2f2f2; } 


/* work */
.work-item a.work-meta { background: #f5f5f5; }

/* widgets */
.widget_archive ul li, 
.widget_categories ul li, 
.widget_links ul li, 
.widget_meta ul li, 
.widget_recent_comments ul li, 
.widget_recent_entries ul li { border-bottom: 1px dotted #f1f1f1; }
.widget_rss ul li,
.widget_pages ul li a,
.widget_nav_menu ul li a { border-bottom: 1px dotted #f1f1f1; }

/* front 4 */
.front-4 #page-title-inner { border: none; }
.flexslider#flex-front-3 .flex-direction-nav a.prev { background-color: rgba(0,0,0,0.1); }
.flexslider#flex-front-3 .flex-direction-nav a.next { background-color: rgba(0,0,0,0.1); }
.flexslider#flex-front-3 .flex-direction-nav a.prev:hover,
.flexslider#flex-front-3 .flex-direction-nav a.next:hover { background-color: rgba(0,0,0,0.15); }
.flexslider#flex-front-3 .flex-direction-nav li a.next { background-position: -30px 0; }
.flexslider#flex-front-3 .flex-direction-nav li a.prev { background-position: -30px -60px; }
.flexslider#flex-front-3 .flex-control-nav li a { background-position: -13px -0; }
.flexslider#flex-front-3 .flex-control-nav li a:hover { background-position: -13px -13px; }
.flexslider#flex-front-3 .flex-control-nav li a.active { background-position: -13px -26px; }