/*
Style: Miniheader
*/

/* header small */
#header-inner { padding-bottom: 0; }
#logo { margin: 20px 0; }
#tagline { margin-top: 20px; }

#header-nav { background: none; float: right; margin-top: 20px; width: auto;  }
#nav li a { border-top: none; padding: 11px 20px; }
#nav li { background-position: right 14px; }
#nav li:last-child { background: none; }
#nav li:last-child a { padding-right: 0; }
#nav li.current_page_item a, 
#nav li.current-menu-ancestor a, 
#nav li.current-menu-item a { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
#nav ul { top: 40px; }

#header-breadcrumbs { margin-bottom: -20px; }

/* page title fix */
#page-title { background: none; }
#page-title-inner { background: url(../img/hr.png) repeat-x bottom; }

/* hide elements */
#header-social, 
#header-search { display: none; }

/* responsive fixes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#header-nav { width: 100%; margin-top: 0; }
	#nav li { background: url(../img/nav-separator-v.png) no-repeat right 3px; }
	#nav li a { font-size: 14px; padding-top: 0; }
	#nav li:first-child a { background: url(../img/nav-separator-v.png) no-repeat left 3px; }
	#nav ul { top: 29px; }
}